body {
  margin: 0;
  padding: 0;
}




.telaLogin {
    
    background-color: #0D1117;
    color: #F5F5F5;
}

.detalhesProdutos {
    padding-left: 20px;

}

.botoesVoltar {
    position: absolute;
    right: 0%;

}

.cabecalho {
    
    grid-template-columns: 1fr auto;

    background-color: #161B22;

    display: grid;

    justify-content: space-between;

    align-items: center;

    padding: 10px 20px;

    box-sizing: border-box;

    border-bottom: 2px solid #d62222;

}

.botoes {
    background-color: #d62222;
    color: #111111;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.texto-longo {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 8px;
}

.promocao {
    position: fixed;

    right: 20px;
    bottom: 20px;

    width: 150px;

    background-color: #161B22;

    border: 2px solid #d62222;

    border-radius: 12px;

    padding: 15px;

    text-align: center;

    transition: 0.3s;

    box-shadow: 0 0 10px rgba(0, 230, 118, 0.3);
}
.promocao img {
    width: 100%;
    border-radius: 10px;
}
.preco-antigo {
    text-decoration: line-through;
    color: #999;
}

.preco-promocao {
    color: #00E676;
    font-size: 24px;
    font-weight: bold;
}
.promocao:hover {
    transform: scale(1.05);

    box-shadow: 0 0 25px rgba(0, 230, 118, 0.8);

    border-color: #00B8FF;
}



