.telaLogin {
    margin: 0;
    min-height: 100vh;
    background-color: #0D1117;
    color: #F5F5F5;
}

.detalhesProdutos {
    padding-left: 20px;

}

.botoesVoltar {
    position: absolute;
    right: 0%;

}

.cabecalho {
    position: fixed;
}

.botoes {
    background-color: #d62222;
    color: #111111;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.texto-longo {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 8px;
}